:root {
    --md-primary-fg-color: #2ed9f7;
    --md-primary-fg-color--light: #74e8fa;
    --md-primary-fg-color--dark: #16b8d3;
    --md-primary-bg-color: #102a32;
    --md-primary-bg-color--light: #24434c;
}
